# Samræmir skrár milli stýrikerfa
# Í ritli ætti að sækja plugin sem passar upp á þetta, t.d. EditorConfig for VS Code

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# vscode specific, annars mun prettier formata með double quotes
quote_type = single

[*.md]
trim_trailing_whitespace = false
